@model LoginUserDto
@{
    Layout = null;
}
<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Extra Zirve Gayrimenkul</title>
    <link href="~/template/css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<style>
    #EmlakPf {
        background-color: rgba(180, 0, 0, 0.7); /* Tamamen şeffaf (siyah renkte) */
        color: black; /* Yazı rengi (beyaz) */
        border: 1px solid #ffffff; /* Kenarlık rengi (beyaz) */
        padding: 10px 20px; /* Düğme içeriği içindeki dolgu */
        border-radius: 100px;
        width: 210px;
        height: 80px;
        font-weight: bold;
        color: white;
    }

        #EmlakPf:hover {
            background-color: white; /* Tamamen şeffaf (siyah renkte) */
            color: rgba(180, 0, 0, 0.8); /* Yazı rengi (beyaz) */
        }

    #MusteriPf {
        background-color: rgba(0, 60, 255, 0.8);
        color: black; /* Yazı rengi (beyaz) */
        border: 1px solid #ffffff; /* Kenarlık rengi (beyaz) */
        padding: 10px 20px; /* Düğme içeriği içindeki dolgu */
        border-radius: 100px;
        width: 210px;
        height: 80px;
        font-weight: bold;
        color: white;
    }

        #MusteriPf:hover {
            background-color: rgba(255, 255, 255, 1); /* Tamamen şeffaf (siyah renkte) */
            color: rgba(0, 60, 255, 0.8); /* Yazı rengi (beyaz) */
        }

    .btn-container {
        display: flex;
        justify-content: center;
    }

    /* İkinci butonun sol tarafını ayırmak için */
    #MusteriPf {
        margin-left: 10px; /* İstediğiniz boşluğu ayarlayabilirsiniz */
    }

    #Admin {
        background-color: rgba(255, 255, 255, 0.9);
        color: black; /* Yazı rengi (beyaz) */
        border: 1px solid #ffffff; /* Kenarlık rengi (beyaz) */
        padding: 10px 20px; /* Düğme içeriği içindeki dolgu */
        margin: 2px 1px;
        border-radius: 100px;
        width: 130px;
        height: 50px;
        position: fixed;
        top: 15px;
        right: 20px;
        transition: all 0.3s ease-in-out;
        z-index: 9999;
    }

        #Admin:hover {
            background-color: rgba(0, 0, 0,0.8); /* Tamamen şeffaf (siyah renkte) */
            color: white; /* Yazı rengi (beyaz) */
        }



    /* Ekran 'lg' boyutundaysa */
    @@media (max-width: 1200px) {
        .card {
            min-height: 500px; /* Kartın minimum yüksekliğini 200px olarak ayarla */
        }

        #buttons {
            margin-bottom:10px;
        }
    }

   

    body {
        position: relative;
    }

        /* Arka plan resmi */
        body::before {
            content: "";
            background-image: url('/images/gayrimenkul3.png'); /* Arka plan resmi URL'si */
            filter: blur(px); /* Bulanıklık miktarını ayarlayın */
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1; /* Ana içeriğin önünde olması için */
            background-size: cover; /* Arka plan resminin boyutunu kaplama olarak ayarlayın */
        }
</style>


<body style="background-image: url('/images/gayrimenkul3.png'); background-size:cover;">
    <div class="login-form-sm h-100" id="body">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card" style="border-radius:40px; width:auto; height:400px; background-color:rgba(0,0,0,0.2); ">
                            <div class="card-header mb-4">
                                <a href="/Login/Index/"><img src="~/images/Logo3.png" style="width:350px; height:auto;" class="d-block mx-auto" /></a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-5 text-center btn-container">
                                        <a href="/Estate/Index" id="buttons">
                                            <button type="button" href="/Estate/Index" class="btn btn-primary" id="EmlakPf">
                                                Emlak Portföyü <span class="btn-icon-right"><i class="fa-solid fa-house"></i></span>
                                            </button>
                                        </a>
                                    </div>
                                    <div class="col-xl-2 text-center btn-container">
                                        <hr style="background-color: white; height: 100%; width: 2px; margin: 0 auto; border: none;">
                                    </div>
                                    <div class="col-xl-5 text-center btn-container">
                                        <a href="/Estate/Index">
                                            <button type="button" class="btn btn-primary" id="MusteriPf">
                                                Müşteri Portföyü
                                                <span class="btn-icon-right"><i class="fa-solid fa-person"></i></span>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary d-sm-block d-md-block" id="Admin">
            Admin <span class="btn-icon-right"><i class="fa-solid fa-lock"></i></span>
        </button>
    </div>

</body>
</html>