<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DataTables | Gentelella</title>

    <!-- Bootstrap -->
    <link href="/table/gentela/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/table/gentela/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/table/gentela/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/table/gentela/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="/table/gentela/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/table/gentela/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/table/gentela/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/table/gentela/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/table/gentela/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/table/gentela/build/css/custom.min.css" rel="stylesheet">

</head>
<style>
    #filter {
        margin-bottom: 30px !important;
        margin: 20px;
    }

        #filter button {
            width: 100%;
            height: 100%;
            background-color: #3498db; /* Arka plan rengi */
            color: #ffffff; /* Yazı rengi */
            border: none; /* Kenarlık yok */
            padding: 10px; /* Buton içeriği içinde boşluk */
            font-size: 16px; /* Yazı boyutu */
            cursor: pointer; /* İşaretçi stilini el işareti yap */
        }

        #filter button:hover {
            background-color:white;
                color: #2980b9;
        }

    body {
        overflow: hidden;
    }
</style>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col" style="background-color:rgba(0, 0, 0,0.8);;">
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="/images/Logo.png" style="width:200px; height:auto; margin-left:10px;margin-top:10px;" alt="..." class="">
                        </div>
                    </div>
                    <div class="navbar nav_title" style="border: 0; margin-bottom:10px;">
                        <a href="#" class="site_title"><i class="fa fa-home "></i> <span style="font-size:18px;">Emlak Portföyü</span></a>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="" class="">
                        <div class="">
                            <div id="filter">
                                <label class="profile clearfix" style="color:white; margin-top:50px;">Konut</label>
                                <div class="profile clearfix">
                                    <select class="form-control">
                                        <option>--</option>
                                        <option>Satılık</option>
                                        <option>Kiralık</option>
                                        <option>Option three</option>
                                        <option>Option four</option>
                                    </select>
                                </div>
                            </div>
                            <div id="filter">
                                <label class="profile clearfix" style="color:white;">Emlak Tipi</label>
                                <div class="profile clearfix">
                                    <select class="form-control">
                                        <option>--</option>
                                        <option>Daire</option>
                                        <option>Müstakil Ev</option>
                                        <option>Arsa</option>
                                    </select>
                                </div>
                            </div>
                            <div id="filter">
                                <label class="profile clearfix" style="color:white;">İl</label>
                                <div class="profile clearfix">
                                    <select class="form-control">
                                        <option>--</option>
                                        <option>Ankara</option>
                                        <option>İstanbul</option>
                                    </select>
                                </div>
                            </div>
                            <div id="filter">
                                <label class="profile clearfix" style="color:white;">İlçe</label>
                                <div class="profile clearfix">
                                    <select class="form-control">
                                        <option>--</option>
                                        <option>Etimesgut</option>
                                        <option>Çankaya</option>
                                    </select>
                                </div>
                            </div>
                            <div id="filter">
                                <label class="profile clearfix" style="color:white;">Fiyat Aralığı</label>
                                <div class="row profile clearfix">
                                    <div class="col-md-6">
                                        <input class="form-control">

                                        </input>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control">

                                        </input>
                                    </div>
                                </div>
                            </div>
                            <div id ="filter">
                                <div class="profile clearfix">
                                <button class="btn btn-primary">Ara</button>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /sidebar menu -->
                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Settings">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true" style="color:lightgray;"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true" style="color:lightgray;"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Lock">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true" style="color:lightgray;"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                        <span class="glyphicon glyphicon-off" aria-hidden="true" style="color:lightgray;"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                </nav>
            </div>
        </div>
        <!-- /top navigation -->
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                @RenderBody()


            </div>
        </div>
        <!-- /page content -->
        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
    </div>
    <!-- jQuery -->
    <script src="/table/gentela/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/table/gentela/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/table/gentela/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/table/gentela/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="/table/gentela/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="/table/gentela/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/table/gentela/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/table/gentela/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/table/gentela/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/table/gentela/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/table/gentela/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/table/gentela/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/table/gentela/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/table/gentela/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/table/gentela/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/table/gentela/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/table/gentela/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/table/gentela/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/table/gentela/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/table/gentela/vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/table/gentela/build/js/custom.min.js"></script>

</body>
</html>