<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Eztra Zirve Gayrimenkul</title>
    <!-- Bootstrap core CSS -->
    <link href="/CatalogTemplate/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/CatalogTemplate/assets/css/templatemo-sixteen.css">


</head>
<style>
    /* Navbarı büyütmek */
    header {
        height: 90px; /* Navbar yüksekliğini ayarlayın */
        background-color: rgba(10,10,10,0.5);
    }

        header .navbar {
            padding: 1px 0; /* Navbar içeriğini ortalamak için padding ekleyin */
        }

        /* Logoyu ortalamak */
        header .navbar-brand {
            display: flex;
            align-items: center; /* Dikey hizalama için */
        }

            header .navbar-brand img {
                max-height: 100%; /* Logo boyutunu orantılı olarak büyütmek için */
                margin: 0 auto; /* Logo yatayda ortalanacak */
            }
    /* Footer'ı aşağıya sabitleme */
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px; /* Yüksekliği istediğiniz değere ayarlayabilirsiniz */
        color: #fff; /* Yazı rengi */
        text-align: center;
        z-index: 9999; /* Sayfanın üzerinde olması için z-index değeri */
    }

        /* Footer içeriğini ortalama */
        footer .inner-content {
            padding: 10px 0; /* İçeriği dikeyde ortalamak için padding ekleyin */
        }
</style>
<body style="background-image:url('/images/gayrimenkul.png'); background-size:cover;">
    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href=""><img src="/images/Logo.png" style="width:400px;" /></a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Index" style="margin-bottom:100px;">
                            Geri Dön
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="banner header-text">
        @RenderBody()
    </div>

    <footer class="page-footer text-center" style="background-color: rgba(10,10,10,0.5); height:90px;">
        <div class="pt-3">
            <!-- Social icons -->
            <div class="pb-2">
                <a href="#" target="_blank" style="color:white" ;>
                    <i class="fab fa-facebook-f mr-3"></i>
                </a>
                <a href="#" target="_blank" style="color:white" ;>
                    <i class="fab fa-twitter mr-3"></i>
                </a>
                <a href="#" target="_blank" style="color:white" ;>
                    <i class="fab fa-youtube mr-3"></i>
                </a>
                <a href="#" target="_blank" style="color:white" ;>
                    <i class="fab fa-google-plus mr-3"></i>
                </a>
                <a href="#p" target="_blank" style="color:white" ;>
                    <i class="fab fa-pinterest mr-3"></i>
                </a>
            </div>
            <!-- Social icons -->
            <!--Copyright-->
            <div class="footer-copyright px-3">
                © 2023 Copyright:
                <a href="#" target="_blank" style="color:white"> Extra Zirve Gayrimenkul </a>
            </div>
        </div>
        <!--/.Copyright-->
        <!-- Bootstrap core JavaScript -->
        <script src="/CatalogTemplate/vendor/jquery/jquery.min.js"></script>
</body>
</html>
